.my-magic-title {
  /* PROJECTS PAGE OVERRIDE */
  &.projects {
    width: 520px;
    height: 140px;
    transform-origin: left;

    @apply top-full left-0;
    @apply transform;

    --tw-rotate: 90deg;
    --tw-translate-x: 70px;
    --tw-translate-y: -600px;

    .my-magical-title-item {
      &:nth-child(1) {
        @apply text-[8rem];
        @apply leading-[8rem];
      }
    }

    @media (max-width: 1280px) {
      width: 530px;
      height: 140px;

      --tw-translate-x: 70px;
      --tw-translate-y: -415%;
      .my-magical-title-item {
        &:nth-child(1) {
          @apply text-[8rem];
          @apply leading-[8rem];
        }
      }
    }

    // Pixel XL
    // iPhone X landscape
    @media (max-width: 823px) {
      width: 420px;
      height: 110px;

      --tw-translate-x: 60px;
      --tw-translate-y: -425%;

      .my-magical-title-item {
        &:nth-child(1) {
          @apply text-[6.5rem];
          @apply leading-[6.5rem];
        }
      }
    }

    @media (max-width: 768px) {
      width: 240px;
      height: 60px;

      --tw-translate-x: 30px;

      .my-magical-title-item {
        &:nth-child(1) {
          @apply text-[3.5rem];
          @apply leading-[3.5rem];
        }
      }
    }
  }
}
