.my-magic-title {
  /* DEFAULT STYLE */
  width: 800px;
  height: 500px;
  overflow: hidden;

  @apply absolute top-1/2 left-1/2 z-10;
  @apply text-primary duration-500;
  @apply transform;

  --tw-translate-x: -75%;
  --tw-translate-y: -50%;

  .my-magical-title-item {
    transform-origin: center;
    @apply font-bold duration-300;

    &:nth-child(1) {
      @apply text-[10rem];
      @apply leading-[10rem];
    }
    &:nth-child(2) {
      @apply text-[8rem];
      @apply leading-[8rem];
    }
    &:nth-child(3) {
      @apply text-[6rem];
      @apply leading-[6rem];
    }
  }

  .my-name {
    @apply text-[6rem] leading-[6rem];
    @apply duration-300;
    @apply ml-5;
  }

  @media (max-width: 1280px) {
    --tw-translate-x: 0;
    @apply left-0;
  }

  // Pixel XL
  // iPhone X landscape
  @media (max-width: 823px) {
    width: 520px;
    height: 360px;

    .my-magical-title-item {
      &:nth-child(1) {
        @apply text-[6.5rem];
        @apply leading-[6.5rem];
      }
      &:nth-child(2) {
        @apply text-[5rem];
        @apply leading-[5rem];
      }
      &:nth-child(3) {
        @apply text-[4rem];
        @apply leading-[4rem];
      }
    }

    .my-name {
      @apply text-[3.5rem] leading-[3.5rem];
    }
  }

  @media (max-width: 768px) {
    width: 320px;
    height: 220px;

    .my-magical-title-item {
      &:nth-child(1) {
        @apply text-[3.5rem];
        @apply leading-[3.5rem];
      }
      &:nth-child(2) {
        @apply text-[3rem];
        @apply leading-[3rem];
      }
      &:nth-child(3) {
        @apply text-[2rem];
        @apply leading-[2rem];
      }
    }

    .my-name {
      @apply text-[2.5rem] leading-[2.5rem];
    }
  }

}
