.my-magic-title {
  /* SKILLS PAGE OVERRIDE */
  &.skills {
    width: 480px;
    height: 140px;

    @apply top-full left-0;
    @apply transform;

    --tw-translate-x: 0;
    --tw-translate-y: -100%;

    .my-magical-title-item {
      &:nth-child(1) {
        @apply text-[10rem];
        @apply leading-[10rem];
      }
    }

    @media (max-width: 1280px) {
      width: 380px;
      height: 120px;
      .my-magical-title-item {
        &:nth-child(1) {
          @apply text-[8rem];
          @apply leading-[8rem];
        }
      }
    }

    // Pixel XL
    // iPhone X landscape
    @media (max-width: 823px) {
      width: 310px;
      height: 100px;

      .my-magical-title-item {
        &:nth-child(1) {
          @apply text-[6.5rem];
          @apply leading-[6.5rem];
        }
      }
    }

    @media (max-width: 768px) {
      width: 170px;
      height: 60px;

      .my-magical-title-item {
        &:nth-child(1) {
          @apply text-[3.5rem];
          @apply leading-[3.5rem];
        }
      }
    }
  }
}
