.my-magic-title {
  /* SKILLS PAGE OVERRIDE */
  &.skills {
    width: 480px;
    height: 140px;

    @apply top-full left-0;
    @apply transform;

    --tw-translate-x: 0;
    --tw-translate-y: -140px;

    .my-magical-title-item {
      &:nth-child(1) {
        @apply text-[10rem];
        @apply leading-[10rem];

        position: relative;
        &::before {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
          width: 90%;
          height: 70%;
          content: '';
          background-color: white;
          transition-duration: 300ms;
        }

        &:hover {
          &::before {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    @media (max-width: 1280px) {
      width: 380px;
      height: 120px;

      --tw-translate-y: -120px;
      .my-magical-title-item {
        &:nth-child(1) {
          @apply text-[8rem];
          @apply leading-[8rem];
        }
      }
    }

    // Pixel XL
    // iPhone X landscape
    @media (max-width: 823px) {
      width: 310px;
      height: 100px;

      --tw-translate-y: -100px;
      .my-magical-title-item {
        &:nth-child(1) {
          @apply text-[6.5rem];
          @apply leading-[6.5rem];
        }
      }
    }

    @media (max-width: 768px) {
      width: 170px;
      height: 60px;

      --tw-translate-y: -60px;
      .my-magical-title-item {
        &:nth-child(1) {
          @apply text-[3.5rem];
          @apply leading-[3.5rem];
        }
      }
    }
  }
}
