.my-magic-title {
  /* EXPERIENCE PAGE OVERRIDE */
  &.experience {
    width: 700px;
    height: 140px;
    transform-origin: left;

    @apply top-full left-full;
    @apply transform;

    --tw-rotate: 270deg;
    --tw-translate-x: -70px;
    --tw-translate-y: -70px;

    .my-magical-title-item {
      &:nth-child(1) {
        @apply text-[7rem];
        @apply leading-[7rem];

        position: relative;
        &::before {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
          width: 90%;
          height: 70%;
          content: '';
          background-color: white;
          transition-duration: 300ms;
        }

        &:hover {
          &::before {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    @media (max-width: 1280px) {
      width: 550px;
      height: 100px;

      --tw-translate-x: -50px;
      --tw-translate-y: -50px;

      .my-magical-title-item {
        &:nth-child(1) {
          @apply text-[6rem];
          @apply leading-[6rem];
        }
      }
    }

    // Pixel XL
    // iPhone X landscape
    @media (max-width: 823px) {
      width: 550px;
      height: 100px;

      --tw-translate-x: -50px;
      --tw-translate-y: -50px;

      .my-magical-title-item {
        &:nth-child(1) {
          @apply text-[6rem];
          @apply leading-[6rem];
        }
      }
    }

    @media (max-width: 768px) {
      width: 300px;
      height: 60px;

      --tw-translate-x: -30px;
      --tw-translate-y: -30px;

      .my-magical-title-item {
        &:nth-child(1) {
          @apply text-[3.5rem];
          @apply leading-[3.5rem];
        }
      }
    }
  }
}
