@import './colors/all';
@import './transitions/all';
@import './fonts/all';

:root {
    --color-red: #{$--color-red};
    --color-red-50: #{$--color-red-50};
    --color-red-100: #{$--color-red-100};
    --color-red-200: #{$--color-red-200};
    --color-red-300: #{$--color-red-300};
    --color-red-400: #{$--color-red-400};
    --color-red-500: #{$--color-red-500};
    --color-red-600: #{$--color-red-600};
    --color-red-700: #{$--color-red-700};
    --color-red-800: #{$--color-red-800};
    --color-red-900: #{$--color-red-900};
    --color-blue: #{$--color-blue};
    --color-blue-50: #{$--color-blue-50};
    --color-blue-100: #{$--color-blue-100};
    --color-blue-200: #{$--color-blue-200};
    --color-blue-300: #{$--color-blue-300};
    --color-blue-400: #{$--color-blue-400};
    --color-blue-500: #{$--color-blue-500};
    --color-blue-600: #{$--color-blue-600};
    --color-blue-700: #{$--color-blue-700};
    --color-blue-800: #{$--color-blue-800};
    --color-blue-900: #{$--color-blue-900};
    --color-green: #{$--color-green};
    --color-green-50: #{$--color-green-50};
    --color-green-100: #{$--color-green-100};
    --color-green-200: #{$--color-green-200};
    --color-green-300: #{$--color-green-300};
    --color-green-400: #{$--color-green-400};
    --color-green-500: #{$--color-green-500};
    --color-green-600: #{$--color-green-600};
    --color-green-700: #{$--color-green-700};
    --color-green-800: #{$--color-green-800};
    --color-green-900: #{$--color-green-900};
    --color-yellow: #{$--color-yellow};
    --color-yellow-50: #{$--color-yellow-50};
    --color-yellow-100: #{$--color-yellow-100};
    --color-yellow-200: #{$--color-yellow-200};
    --color-yellow-300: #{$--color-yellow-300};
    --color-yellow-400: #{$--color-yellow-400};
    --color-yellow-500: #{$--color-yellow-500};
    --color-yellow-600: #{$--color-yellow-600};
    --color-yellow-700: #{$--color-yellow-700};
    --color-yellow-800: #{$--color-yellow-800};
    --color-yellow-900: #{$--color-yellow-900};
    --color-white: #{$--color-white};
    --color-black: #{$--color-black};
    --color-indigo: #{$--color-indigo};
    --color-purple: #{$--color-purple};
    --color-pink: #{$--color-pink};
    --color-orange: #{$--color-orange};
    --color-teal: #{$--color-teal};
    --color-cyan: #{$--color-cyan};
    --color-light: #{$--color-light};
    --color-dark: #{$--color-dark};
    --color-primary: #{$--color-primary};
    --color-secondary: #{$--color-secondary};
    --color-success: #{$--color-success};
    --color-danger: #{$--color-danger};
    --color-warning: #{$--color-warning};
    --color-info: #{$--color-info};
    --color-gray: #{$--color-gray};
    --color-gray-100: #{$--color-gray-100};
    --color-gray-200: #{$--color-gray-200};
    --color-gray-300: #{$--color-gray-300};
    --color-gray-400: #{$--color-gray-400};
    --color-gray-500: #{$--color-gray-500};
    --color-gray-600: #{$--color-gray-600};
    --color-gray-700: #{$--color-gray-700};
    --color-gray-800: #{$--color-gray-800};
    --color-gray-900: #{$--color-gray-900};
    --color-primary-100: #{$--color-primary-100};
    --color-primary-200: #{$--color-primary-200};
    --color-primary-300: #{$--color-primary-300};
    --color-primary-400: #{$--color-primary-400};
    --color-primary-500: #{$--color-primary-500};
    --color-primary-600: #{$--color-primary-600};
    --color-primary-700: #{$--color-primary-700};
    --color-primary-800: #{$--color-primary-800};
    --color-primary-900: #{$--color-primary-900};
    --color-secondary-100: #{$--color-secondary-100};
    --color-secondary-200: #{$--color-secondary-200};
    --color-secondary-300: #{$--color-secondary-300};
    --color-secondary-400: #{$--color-secondary-400};
    --color-secondary-500: #{$--color-secondary-500};
    --color-secondary-600: #{$--color-secondary-600};
    --color-secondary-700: #{$--color-secondary-700};
    --color-secondary-800: #{$--color-secondary-800};
    --color-secondary-900: #{$--color-secondary-900};
    --color-success-100: #{$--color-success-100};
    --color-success-200: #{$--color-success-200};
    --color-success-300: #{$--color-success-300};
    --color-success-400: #{$--color-success-400};
    --color-success-500: #{$--color-success-500};
    --color-success-600: #{$--color-success-600};
    --color-success-700: #{$--color-success-700};
    --color-success-800: #{$--color-success-800};
    --color-success-900: #{$--color-success-900};
    --color-danger-100: #{$--color-danger-100};
    --color-danger-200: #{$--color-danger-200};
    --color-danger-300: #{$--color-danger-300};
    --color-danger-400: #{$--color-danger-400};
    --color-danger-500: #{$--color-danger-500};
    --color-danger-600: #{$--color-danger-600};
    --color-danger-700: #{$--color-danger-700};
    --color-danger-800: #{$--color-danger-800};
    --color-danger-900: #{$--color-danger-900};
    --color-warning-100: #{$--color-warning-100};
    --color-warning-200: #{$--color-warning-200};
    --color-warning-300: #{$--color-warning-300};
    --color-warning-400: #{$--color-warning-400};
    --color-warning-500: #{$--color-warning-500};
    --color-warning-600: #{$--color-warning-600};
    --color-warning-700: #{$--color-warning-700};
    --color-warning-800: #{$--color-warning-800};
    --color-warning-900: #{$--color-warning-900};
    --color-info-100: #{$--color-info-100};
    --color-info-200: #{$--color-info-200};
    --color-info-300: #{$--color-info-300};
    --color-info-400: #{$--color-info-400};
    --color-info-500: #{$--color-info-500};
    --color-info-600: #{$--color-info-600};
    --color-info-700: #{$--color-info-700};
    --color-info-800: #{$--color-info-800};
    --color-info-900: #{$--color-info-900};
}
